html {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

  h1 {
    font-size: 60px;
    text-align: center;
    color: #000000;
  }

  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: #000000;
  }
  html {
    background-color: #ffffff;
  }

  body {
    width: 600px;
    position: relative;
    top: 25px;
    margin: 0 auto;
    background-color: #f6f8fa;
    padding: 0 20px 20px 20px;
    border: 4px solid #f6f8fa;
  }
  
